# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
bin/gopls/*
pkg/darwin_amd64/*
pkg/mod/*
pkg/sumdb/*
src/github.com/*
src/golang.org/*

src/vertool/vertool.alpine
src/vertool/vertool.macos
src/vertool/vertool.centos
bin/gopls
src/dns-updater/godaddy/ddns.info
.DS_Store
src/dns-updater/godaddy/.env
src/dns-updater/godaddy/domains.json
